<agm-map 
  [latitude]="currentLost.location.latitude" 
  [longitude]="currentLost.location.longitude" 
  [zoom]="zoom"
  [disableDefaultUI]="false">

  <agm-circle 
    [latitude]="currentLost.location.latitude" 
    [longitude]="currentLost.location.longitude" 
    [radius]="currentLost.radius" 
    [fillColor]="'red'">
  </agm-circle>

  <agm-polyline>
    <agm-polyline-point *ngFor="let point of history;"
     [latitude]="point.latitude"
     [longitude]="point.longitude">
    </agm-polyline-point>
  </agm-polyline>

</agm-map>
